/*****************************
* GOTHAM MEDIUM              *
*****************************/

@font-face {
    font-family: 'Gotham-Md';
    src: url('gothammd.eot');
    src: url('gothammd.eot?#iefix') format('embedded-opentype'),
         url('gothammd.woff') format('woff'),
         url('gothammd.ttf') format('truetype'),
         url('gothammd.svg#gotham-mdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}