/*****************************
* GOTHAM BOOK                *
*****************************/

@font-face {
    font-family: 'GothamBook';
    src: url('gotham-book.eot');
    src: url('gotham-book.eot?#iefix') format('embedded-opentype'),
         url('gotham-book.woff') format('woff'),
         url('gotham-book.ttf') format('truetype'),
         url('gotham-book.svg#GothamBRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}