
.left, .fL, .alignleft { float: left; }
.right, .fR, .alignright { float: right; }
.center, .aligncenter { display: block; margin: 0 auto; }

.clr {
	clear: both;
	font-size: 0;
	height: 0;
}

.icon16.icon-dashboard, .menu-icon-syslib div.wp-menu-image, .menu-icon-dashboard div.wp-menu-image, .icon16.icon-post, .menu-icon-post div.wp-menu-image, .icon16.icon-media, .menu-icon-media div.wp-menu-image, .icon16.icon-links, .menu-icon-links div.wp-menu-image, .icon16.icon-page, .menu-icon-page div.wp-menu-image, .icon16.icon-comments, .menu-icon-comments div.wp-menu-image, .icon16.icon-appearance, .menu-icon-appearance div.wp-menu-image, .icon16.icon-plugins, .menu-icon-plugins div.wp-menu-image, .icon16.icon-users, .menu-icon-users div.wp-menu-image, .icon16.icon-tools, .menu-icon-tools div.wp-menu-image, .icon16.icon-settings, .menu-icon-settings div.wp-menu-image, .icon16.icon-site, .menu-icon-site div.wp-menu-image, .icon16.icon-generic, .menu-icon-generic div.wp-menu-image {
	background: url( '../images/menu.png?ver=3.0' );
}

.menu-icon-syslib div.wp-menu-image {
	background-position: -389px -33px;
}

#adminmenu .menu-icon-syslib:hover div.wp-menu-image, #adminmenu .menu-icon-syslib.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-syslib.current div.wp-menu-image {
	background-position: -389px -1px;
}

.has-sidebar .has-sidebar-content {
	padding-right: 300px;
}

.has-sidebar {
	clear: left;
	float: left;
	width: 100%;
}

.ladder .button {
	margin-bottom: 5px;
}